body {
	font-family: Arial, sans-serif;
	background-color: #f7f7f7;
	margin: 0;
	padding: 0;
}

header {
	background-color: rgb(105, 130, 255);
	color: white;
	padding: 1em;
	text-align: center;
}

main {
	margin: 20px;
}

#search-container {
	margin-bottom: 20px;
	text-align: center;
}

#search-bar {
	padding: 10px;
	font-size: 16px;
	width: 80%;
	max-width: 600px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

ul {
	list-style: none;
	padding: 0;
}

li {
	margin: 10px 0;
}

a {
	text-decoration: none;
	font-size: 1.2em;
	color: #333;
}

a:hover {
	color: #4CAF50;
}